body{
	margin: 0;
	color: white;
}
header{
	height: 10%;
	width: 100%;
	display: inline-flex;
	background-color: #110a30;
}

/*logo image in header*/
.image img{
	height: 50px;
	width: 50px;

}

.image-inner h3{
	margin-bottom: -40%;
}

.image-inner{
	padding-left: 4%;
}

.image{
	display: inline-flex;
	flex-wrap: nowrap;
	padding: 0% 2%;
	align-content: center;
	align-items: center;
}

.image-right{
	margin-left: 60%;
}

.fav a{
	color: black;
	font-size: medium;
	text-decoration: none;
}
.divide-main-screen{
	width: 100%;
  	height: 87.5vh;
  	display: flex;
}

.first-child-of-main-div{
	flex: 70%;
	background-color:#110a30;
}
.second-child-of-main-div{
	padding-left: 2%;
	flex: 30%;
	background-color:#110a30;
}

.music-details{
	background-color:#110a30;
	height: 40%;
	width: 100%;
}

.music-list{
	background-color: #110a30;
	height: 60%;
	width: 100%;
}
.music{
	background-color: #110a30;
	width: 80%;
	height: 100%;
	margin-left: 20%;
	display: inline-flex;
}

.music-image{
	background-color: #110a30;
	width: 35%;
	height: 100%;
}

.music-image img{
	width: 100%;
    height: 100%;
}

.song-details{
	background-color: #21184c;
	width: 65%;
	height: 100%;
	overflow: auto;
}

.song-details h1{
	margin: 3% 2% -3% 2%;
}

.song-details p{
	margin-left: 2%;
	margin-right: 2%;
}
.music-add-on{
	background-color: #110a30;
	width: 80%;
	height: 100%;
	margin-left: 20%;
	display: flex;
	flex-direction: column;
}

.music-add-on-div{
	flex: 1;
	border: 1px solid black;
	margin: 0.7% 0%;
}

.song-name{
	display: grid;
	grid-template-columns: 4% 7% 13% 59% 17%;
	background-color: #2b2934;
}

.song-name div{
	margin: auto;
}

.song-name img{
	width: 100%;
    height: 80%;
    margin-top: 10%;
}



.similar-artist{
	height: 40%;
	width: 75%;
}

.recently-played{
	margin-top: 2%;
	height: 60%;
	width: 75%;
}

.aside-text{
	height: 15%;
}

.aside-text small{
	margin-left: 36%;
}

.aside-text b{
	font-size: x-large;
}

.similar-artist-name{
	display: flex;
	flex-direction: column;
	height: 85%;
}

.similar-artist-song{
	display: grid;
	grid-template-columns: 20% 25% 40% 15%;
	flex: 1;
	border: 1px solid black;
	margin: 0.7% 0%;
}

.similar-artist-song img{
	width: 100%;
    height: 100%;
}

.similar-artist-song div{
	margin: auto;
}





.recently-played-name{
	display: flex;
	flex-direction: column;
	height: 85%;
}

.recently-played-song{
	display: grid;
	grid-template-columns: 6% 20% 25% 37% 12%;
	flex: 1;
	border: 1px solid black;
	margin: 0.7% 0%;
}

.recently-played-song img{
	width: 100%;
    height: 100%;
}

.recently-played-song div{
	margin: auto;
}

